[Unit]
Description=Netplan Apply Daemon
After=network.target systemd-sysctl.service systemd-modules-load.service

[Service]
User=root
WorkingDirectory=/usr/local/bin
Restart=no
Type=simple
ExecStart=/usr/local/bin/nad.bash
RemainAfterExit=true
StandardOutput=null

[Install]
WantedBy=multi-user.target
